.dropdown-toggle, .dropdown-item{
    cursor: pointer;
}
.dropdown-item:hover{
    background-color: rgb(65, 65, 65);
    color: rgb(225, 225, 225);
}
img{
    max-height: 50px;
    border: 2px solid white;
    border-radius: 100%;
    display: inline;
}